{{ define "head" }}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>
    <link href="/assets/styles-compiled.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/assets/wlczak_logo.png" type="image/x-icon">
</head>

{{ end }}